{% extends "base.html" %}

{% block content %}

{% if type_of_user == "Staff" %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="display-2 pb-5">Hello, {{ name_of_user }}!</h1>

    <div class="d-grid gap-3 col-10">
        <a href="{{ url_for('staff1') }}" class="btn btn-primary btn-lg" type="button">1) Create a room</a>
        <a href="{{ url_for('staff2') }}" class="btn btn-primary btn-lg" type="button">2) Launch a room</a>
        <a href="{{ url_for('staff3') }}" class="btn btn-primary btn-lg" type="button">3) Edit attributes of a room</a>
    </div>
</div>

{% else %}
<h1> <a href="{{ url_for('login') }}"> Please login. </a></h1>
{% endif %}

{% endblock %}